{% extends 'base.html' %}

{% block content %}
<div class="small-wrapper">
    <div id="about">
        <p class="intro">A hand curated, <strong>particular</strong> slice of the internet.</p>
        <p>Websites are voted for inclusion in the index by users. Anyone can <a href="#">become a user</a> and contribute votes and websites. All websites we crawl must conform to some reasonable rules regarding well built websites. Once these have been verified, and sufficient votes gained, a site will be added to the index and crawled.</p>
    </div>
</div>
{% endblock %}
