{% extends 'base.html' %}

{% block content %}
<div class="small-wrapper intro-wrapper">
    <p class="intro">The Particular index currently has <a href="#"><strong>{{ page_count }} pages</strong></a> collected from <a href="{{ url_for('get_websites') }}"><strong>{{ website_count }} websites</strong></a>.</p>
    <p class="intro">You may wish to <a href="{{ settings.SEARCH_URL }}"><strong>search the index</strong></a> or {% if not current_user %}<a href="{{ url_for('get_login') }}"><strong>login</strong></a> to {% endif %}suggest and vote on <a href="{{ url_for('get_websites') }}"><strong>websites</strong></a> for inclusion.</p>
</div>
{% endblock %}
